.about-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.about-text {
    width: 100%;
    margin: 20px 0;
    margin-left: auto;
}

.about-desc {
    margin: 20px;
}

@media (min-width: 600px) {
    .about-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .about-container img {
        width: 37%;
        max-height: 560px;
    }

    .about-text {
        width: 50%;
        margin: 60px 0 0 40px;
    }
}