.chef-card {
    box-shadow: rgba(0, 0, 0, 0.064) 0px 3px 6px, rgba(28, 143, 49, 0.23) 0px 3px 6px;
    padding: 20px;
    border-radius: 8px;
}

.chef-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.view-recipe {
    width: 100%;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .chef-card {
        padding: 10px;
    }

    .chef-card img {
        width: 100%;
        height: auto;
    }
}