.not {
    margin: 0 auto;
    text-align: center;
}

.not-found {
    width: 800px;
    height: 700px;
    margin: 60px auto;
}

/* Responsive Styles 
========================*/
@media only screen and (max-width: 768px) {
    .not-found {
        width: 100%;
        height: auto;
        margin: 30px auto;
        padding: 0 20px;
    }
}